.Hero {
    display: flex;
    height: 100vh;
    background-color: #ffffff;
}

.HeroTitile {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    color: #000000;
    padding-left: 10rem; /* 160px */
}

.HeroTitleLg {
    font-size: 4.375rem; /* 70px */
    color: #000000;
    font-weight: 600;
}

.HeroTitleMd {
    color: #333333;
    margin-top: 1.25rem; /* 20px */
}

.HeroTitleSm {
    font-size: 1.5625rem; /* 25px */
    color: #333333;
    margin-top: 1.25rem; /* 20px */
}

.HeroTitleSm a {
    color: #000000;
}

.HeroImg {
    flex: 0.7;
    width: 70%;
    height: 70%;
    object-fit: cover;
    border-radius: 0.625rem; /* 10px */
}

.button {
    margin-top: 1.25rem; /* 20px */
    border: 2px solid #666666;
    height: 2.5rem; /* 40px */
    width: 10rem; /* 160px */
    border-radius: 50px;
    background-color: #ffffff;
    font-weight: 600;
    color: #000000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: #f0f0f0;
}

.button a {
    text-align: center;
    display: block;
    color: #000000;
    text-decoration: none;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .Hero {
        flex-direction: column;
        height: auto;
    }
    .HeroImg {
        width: 70%;
        height: 70%;
        order: 1;
        margin-bottom: 1.25rem; /* 20px */
    }
    .HeroTitile {
        padding-left: 1.25rem; /* 20px */
        order: 2;
    }
    .HeroTitleLg {
        font-size: 4.375rem; /* 70px */
    }
    .HeroTitleMd {
        margin-top: 1.25rem; /* 20px */
    }
    .HeroTitleSm {
        font-size: 1.5625rem; /* 25px */
        margin-top: 1.25rem; /* 20px */
    }
    .button {
        height: 2.3125rem; /* 37px */
        width: 8.75rem; /* 140px */
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
}

/* For small devices */
@media screen and (max-width: 576px) {
    .HeroTitile {
        padding-left: 1.25rem; /* 20px */
    }
    .HeroTitleLg {
        font-size: 4.375rem; /* 70px */
    }
    .HeroTitleMd {
        margin-top: 1.25rem; /* 20px */
    }
    .HeroTitleSm {
        font-size: 1.5625rem; /* 25px */
        margin-top: 1.25rem; /* 20px */
    }
    .HeroImg {
        width: 70%;
        height: 70%;
    }
    .button {
        height: 2.5rem; /* 40px */
        width: 10rem; /* 160px */
    }
}

/* For extra small devices */
@media screen and (max-width: 350px) {
}